*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'sans-serif','Poppins';
}

.container{
    width:100%;
    height:100vh;
    background:linear-gradient(115deg, #153677, #4e085f);
    display:flex;
    justify-content:center;
    align-items:center;
}

.todo{
    width:100%;
    max-width:540px;
    background-color:white;
    border-radius:15px;  
}

.todo h2{
    margin-top:20px;
    color:#002765;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.todo img{
    height:50px;
    margin-left:15px;
}

.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#edeef0;
    border-radius:30px;
    padding-left:20px;
    padding-right:20px;
    margin:20px 15px;
}

input{    
    border:none;
    outline:none;
    background-color:transparent;
    padding:10px;
    font-size:1rem;
}

button{
    padding:15px 20px;
    border:none;
    background-color:#ff5945;
    color:white;
    font-size:1rem;
    cursor:pointer;
    border-radius:20px;
}

ul li{
    list-style:none;
    font-size:1rem;
    padding:12px 8px 12px 50px;
    cursor:pointer;  
    position:relative;                                                                      
}

ul li::before{
    content:' ';
    position:absolute;
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%); 
    height:20px;
    width:20px;
    margin-left:1rem;
    border-radius:50%;
    background-image:url('./images/unchecked.png');
    background-size:cover;
    background-position:center;
}

.check{
    color:#555;
    text-decoration:line-through;
}

ul li.check::before{
     background-image:url('./images/checked.png');
}

span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size:2rem;
    color:#555;
    line-height:40px;
    text-align:center;
    margin-right:15px;
}

span:hover{
    background-color:3edeef0;
}
    

